/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */

/*  ==================================================================
	Custom Styles Begin - General Styles
================================================================== */

html { height: 100%; }

body {
	line-height: 1;
	color: #000;
	font: 16px "Open Sans", Helvetica, Arial, sans-serif;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	text-align: center;
}

@media screen and (max-width: 620px) {
	body {
		font-size: 10px;
	}

	.col-md-1, .col-md-2, .col-md-3 {
		padding: 0 !important;
		margin: 0 !important;
	}

	.categories {
		padding: 4px !important;
	}
}

::selection {
	color: #fff;
  	background: #5F62A7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: .625rem;
	line-height: 1.1em;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a {
    color: black;
    font-weight: bolder;
}

dd {
	margin: 1rem 0;
	font-weight: bolder;
}

tr {
    text-align:center; 
}

.container-fluid {
	margin-bottom: 4rem;
}

.home {
	max-width: 37.5rem;
	padding: 0.938em;
	margin: 0 auto;
}

.results {
	max-width: 60rem;
	margin: auto;
}

.title-home {
	margin-top: 3.5rem;
	margin-bottom: 0;
	font-family: 'Bungee Shade', cursive;
	font-size: 5vw;
}

.hidden {
	display: none;
}

.team {
	max-width: 45rem;
	margin: auto;
}

.categories {
	font-weight: bolder;
}

#league-values td, #champs-values td {
	vertical-align: middle;
}

/*.clubs {*/
	/*margin: 1rem 0;*/
/*}*/

.team-name {
	margin-top: 0;
}

#eac-container-square {
	top: 34px;
}

.img-home {
	width: 80%;
}

